.tabe-outer {     background-color: #ffffff00; border-radius: 10px; margin-top: 0;}
.tabe-outer .table-heading { padding: 14px  0px; }
.tabe-outer .table-heading h2 { font-size: 25px; font-weight: 600; color: var(--black-color); display: inline-block; margin-right: 10px;}
.span-badge{ display: inline-block; min-height: 27px; line-height: 27px; padding: 0 14px; border-radius: 3px; font-size: 14px; font-weight: 500;}
.primary-tag {  background-color: #E9EFFF; color: #0C48E8; }
.active-tag{ background-color: #E3F6ED; color: #15B06D; }
.product-tag{ background-color: #FEF4E5; color: #F09E24; }
.inactive-tag{ background-color: #FFECDA; color: #B01E15; }
.count-tag{ background-color: #E9E9EA; color: #616161; }
.count-tag svg path{ fill: #616161; }
.table-heading form input.form-control { max-width: 206px; }
.table-heading form { column-gap: 10px; }
.table-heading form input[type="search"] { background: url('../images/search-icon.svg') no-repeat; background-size: 20px; background-position: 12px center; padding-left: 44px; height: auto; font-size: 16px; max-width: 450px; min-height: 45px; }
.table-heading form .form-control, .table-heading form .default-btn { border-radius: 8px; }
.table-inner .table th, .table-inner .table td{ padding: 12px 15px; vertical-align: middle; }
.table-inner thead th { background-color: #F4F4F5; border-top: 1px solid #D2D2D2; border-bottom: 1px solid #D2D2D2;  font-size: 16px; color: #2E2E2E; font-weight: 400;}
.table-inner .table td { text-transform: capitalize; font-size: 14px; color: #2E2E2E; font-weight: 400; text-align: left; }
.table-inner .table td a { color: var(--theme-color) }
.status-tags .span-badge { margin-right: 7px; }
.status-tags .span-badge:last-child{ margin-right: 0; }
.custom-dropdown .dropdown-toggle { background-color: transparent; padding: 0; border: none; }
.custom-dropdown .dropdown-toggle::after{ content: none; }
.custom-dropdown .dropdown-menu { transform: translate(0px, 26px) !important; }
.table-inner .user-profile .user-name { padding-left: 15px; }
.table-inner tr:last-child td { border-bottom: none; }
.action-btn svg {width: 17px;height: 17px;opacity: 0.6;}
.action-btn {background: none;border: 0px;}
button.MenuOpen {
  position: absolute;
  right: -14px;
  top: 52px;
  border: 1px solid var(--theme-color);
  border-radius: 17px;
  width: 26px;
  height: 26px;
  text-align: center;
  background: var(--theme-color);
  display: flex;
  align-items: center;
  justify-content: center;
}button.MenuOpen svg.action-icon {transform: scale(1.3);position: relative;left: -1px; fill: #fff;}
/* start employee page css */
.employee-outer .employee-profile, .employee-outer .employee-content{ width: 100%; }
.employee-outer .employee-profile { max-width: 285px; text-align: center; border-right: 1px solid #DADADA; }
.employee-outer .employee-profile .profile-inner{ padding: 49px 41px; border-bottom: 1px solid #DADADA;}
.employee-outer { background-color: #fff;  }
.employee-profile .employee-profile-img { width: 120px; height: 120px; border-radius: 50%; position: relative; margin: 0 auto; }
.employee-profile .employee-profile-img img{ border-radius: 50%; }
.employee-profile-img .edit-image { position: absolute; top: 0; right: 0; z-index: 1; width: 30px; height: 30px; background-color: var(--theme-color); border-radius: 50%; line-height: 19px; transition: all .5s ease-in-out; }
.employee-profile-img .edit-image:hover{ transform: scale(1.1);}
.employee-profile .employee-profile-name { margin-top: 24px; }
.employee-profile .employee-profile-name h3 { font-size: 30px; font-weight: 500;  word-wrap: break-word;}
/* .employee-outer .employee-content { padding: 20px 10px; } */
.profile-btns .default-btn { min-width: 87px; min-height: 40px; line-height: 40px; }
.profile-btns .default-btn.cancel-btn { background-color: #fff; color: #000; margin-left: 8px; }
.profile-btns .default-btn.cancel-btn:hover{ background-color: var(--theme-color); color: #fff; }
.employee-content .profile-form { margin-top: 57px; }
.profile-form .form-control, .profile-form .form-select { min-height: 46px; padding: 0 15px; text-transform: capitalize;}
.skills-outer .select__control { min-height: 50px; border-color: #dee2e6; border-radius: 6px;}
.skills-outer .select__control .select__multi-value { background-color: var(--theme-color); padding: 3px; position: relative; min-width: 43px;}
.skills-outer .select__control .select__multi-value .select__multi-value__label { color: #fff; font-size: 12px;}
.skills-outer .select__control .select__multi-value .select__multi-value__remove { border-radius: 50%; position: absolute; right: -5px; top: -4px; background-color: #9E9E9E; padding: 0; width: 15px; height: 15px; display: inline-block; text-align: center; line-height: 15px; }
.skills-outer .select__control .select__multi-value .select__multi-value__remove svg { fill: #fff; }
.skills-outer .select__control .select__value-container { column-gap: 6px; }
.table-inner .table .project-name { max-width: 343px; }
.project-name h3 { font-size: 16px; font-weight: 500; color: #2E2E2E; }
.project-name p { font-size: 15px; line-height: 22px; color: #898989; font-weight: 300; margin: 6px 0 0 0; }
.milestone-outer .milestone {margin-bottom: 10px;}
.milestone-outer .milestone:last-child {margin-bottom: 0;}
.milestone { column-gap: 10px; }
.milestone input[type="text"], .milestone input[type="date"]{ width: 100%; }
.milestone input[type="date"] { max-width: 160px; }
.milestone .default-btn { min-width: 52px; }
.milestone .default-btn svg { width: 15px; height: 15px; }
.milestone .default-btn svg.close-icon { width: 20px; height: 20px; }
.milestone button.default-btn.close-icon:hover{ background-color: #C80A0A; color: #fff; }
.budget-outer{ max-width: 230px; column-gap: 10px;}
.milestone-outer .upload-btn{ line-height: 0; }
.milestone-outer .upload-btn .default-btn { min-width: 104px; min-height: 46px; line-height: 46px; cursor: pointer;}
.milestone-outer .upload-btn { position: relative; }
.milestone-outer .upload-btn input.form-control { width: 100%; min-height:40px; position: absolute; opacity: 0; }
table .user-img img { vertical-align: middle; width: 42px; height: 42px; border: 1px solid #e1dede; border-radius: 33px; }
.employee-profile .employee-profile-img img { border-radius: 50%; width: 110px!important; height: 110px!important; object-fit: cover; object-position: center; }
.custom-tabs .nav-item .nav-link{ color: #000; }
.custom-tabs .nav-item  .nav-link.active{ background-color: var(--theme-color); color: #fff;}
ul.custom-tabs li.nav-item button { border: none; min-width: 138px; height: 47px; }
.tabe-outer .table-heading h4,table.table tbody h4 { font-size: 17px; font-weight: 500; line-height: normal; }
table.table th svg { width: 17px; height: 12px; }
.pd-2 { padding: 0px; }
label.form-label { font-size: 14px; }
input.form-control { height: 40px; font-size: 14px; }
.main-back-heading {padding: 14px 0px; }
button.action-btn { transition: all ease-in-out 0.5s; transform: scale(1.0); }
button.action-btn:hover { transform: scale(1.2); }
button.action-btn:hover svg { opacity: 1; }
.orgname { font-size: 18px; }
select.form-select,select.form-control { height: 46px; font-size: 14px; }
.edit-org .main-wrapper { border: 0px !important; box-shadow: none; }
select.form-control,select.form-select { height: 40px; }
.profile-form .form-label { font-size: 14px; font-weight: 400; color: #2E2E2E; margin-bottom: 8px; }
.default-btn {align-items: center; justify-content: space-around; }
.table-inner .table td {border-color: #f7f7f7; }
.table-inner .table td:first-child { font-weight: 500; }
.custom-tabs .nav-item .nav-link { border: 1px solid #00000000; font-weight: 500; font-size: 17px;border-bottom: 0px; }
.custom-tabs .nav-item .nav-link.active { background-color: #ffffff; color: #7abcdb; font-size: 17px; border: 1px solid #7abcdb;border-bottom: 0px solid #7abcdb; }
ul.custom-tabs.nav.nav-tabs { border-bottom: 1px solid #7abcdb; }
.bt-0 { border-top: 0px !important; }
.tab-content { background: #fff; box-shadow: rgba(145, 158, 171, 0.2) 0px 2px 1px -1px, rgba(145, 158, 171, 0.14) 0px 1px 1px 0px, rgba(145, 158, 171, 0.12) 0px 1px 3px 0px; border: 1px solid rgb(196, 205, 213) !important; margin-top: 0px; }
.tab-content { padding: 15px 5px; border-top: 0px !important; }
.tabe-outer .table-heading { padding: 0px 0px 15px; }

/* summary css */
.chat-gpt-summary h2 { margin-bottom: 20px; font-size: 28px; }
.chat-gpt-summary .summary-item { margin-bottom: 30px; }
.chat-gpt-summary .summary-item p { margin-bottom: 15px; font-size: 17px; line-height: 24px; }
.product-info-outers{ width: 100%; }
.cvs-product-page form{ position: relative; }
.cvs-product-page form input.form-control { line-height: 39px; height: auto!important; box-shadow: none; border: 1px solid #000; border-radius: 6px; font-size: 17px; font-weight: 500; padding-right: 36px; }
.cvs-product-page form button.action-btn { position: absolute; right: 9px; top: 50%; transform: translateY(-50%); }
.search_listing_row .product_img, .search_listing_row .product-details { width: 100%; }
.search_listing_row .product_img img { max-width: 100%; height: 210px;}
.search_listing_row .product_img { max-width: max-content; }
.search_listing_row .product-details { padding: 0 19px 0 15px; position: relative; }
.product_outer { border: 1px solid #959595; border-radius: 5px; padding: 14px; background-color: #f0f4ff; cursor: pointer; transition: 0.7s;}
.product_outer:hover { background-color: #cbd5ef; }
.search_listing_row .product-details h6 { font-size: 15px; font-weight: 600; color: #232323; }
.search_listing_row .product-details p { margin: 0; font-size: 14px; }
.search_listing_row .product-details p strong { font-weight: 600; }
.search_listing_row .product-details button.product-get { background-color: transparent; border: none; padding: 0; position: absolute; top: 50%; right: 0; transform: translateY(-50%); }
.search_listing_row .product-details button.product-get svg { opacity: 1; width: 24px; height: 24px; }
.search_listing_row .product-details button.product-get svg path { color: #000; }
.search_listing_row{ width: 100%; margin-bottom: 15px;}
.search_listing_row>.col-12 { padding: 0; }
.profile-btns .default-btn { line-height: 0px;}
.top-header .container, .main-back-heading .container  { max-width: 100%; }
.tabe-outer .table-heading .container { max-width: 100%; }
.product-model-outer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-model-outer .search_listing_row {
  width: 100%;
  margin-bottom: 20px;
}

.product-model-outer .product_outer {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.product-model-outer .product_img img {
  max-width: 100px; /* Set max width for product image */
  height: auto;
  margin-right: 15px;
}

.product-model-outer .product-details h6 {
  font-size: 16px;
  font-weight: bold;
}

.product-model-outer .product-details p {
  margin: 5px 0;
}

.product-model-outer .action-btn.product-get {
  margin-left: auto;
}

.modal-full .modal-header {
  border: none;
  display: block;
  padding-bottom: 0px;
}

.modal-full .modal-content {
    border-radius: 0px;
    border: 2px solid #000;
}

.modal-full .modal-title.h4 {
    text-align: center;
    font-weight: 600;
}

.modal.show .modal-dialog button.btn-close {
    position: absolute;
    top: 16px;
    right: 20px;
}

.product-model-outer-details .product_outer {
    background: transparent;
    border: none;
    display: block !important;
    padding: 0;
}

.product-model-outer-details .product_outer .product_img {width: 100%;max-width: 100%;text-align: center;}

.product-model-outer-details .product_outer .product_img img {
    max-width: 25%;
}

.product-model-outer-details .product_outer .product-details {
    text-align: center;
}

.product-model-outer-details .product_outer .product-details h6 {
    font-size: 13px;
    text-align: center;
    line-height: 15px;
    padding-top: 15px;
}

.product-model-outer-details .product_outer .product-location {
    background-color: #f0f4ff;
    padding: 15px 45px;
    border-radius: 14px;
    font-weight: 600;
    margin: 18px 0;
}

.product-model-outer-details .product_outer .product-location span {
  display: block;
  font-size: 27px;
  padding-top: 10px;
}
.product-model-outer-details .product_outer .product-location label.form-label {
  font-size: 20px;
}
.product-model-outer-details .product_outer .product-location input {
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
    padding: 0px;
    border-bottom: 1px solid #000;
    border-radius: 0px;
    height: 20px;
}

.product-model-outer-details .product_outer .product-location:last-child {
    margin: 0px;
}

.modal-full .modal-content .modal-footer {
  border: none;
  width: 100%;
  justify-content: center;
  padding-bottom: 25px;
}
.modal-full .modal-content .modal-footer button.btn {
  margin: 0;
  width: 90%;
  border: none;
  border-radius: 0px;
  padding: 11px 0;
}
.product-model-outer-details .product_outer .product-location h3 {
  font-weight: 600;
  font-size: 22px;
}

@media screen and (max-width: 767px) {
  .product-model-outer-details .product_outer .product-location h3 { font-size: 16px; }
  .product-model-outer-details .product_outer .product-location span { font-size: 20px; padding-top: 7px; }
  .product-model-outer-details .product_outer .product-location label.form-label { font-size: 16px; }
}